aenum==3.1.15
apt-clone==0.2.1
argparse-addons==0.12.0
bitstruct==8.19.0
blinker==1.4
can-isotp==1.8
canfigurator==2.3.0
cantools==36.2.0
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.4.0
colorama==0.4.6
commonmark==0.9.1
contourpy==1.1.1
crc8==0.2.1
crccheck==1.3.0
cryptography==2.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.16
defer==1.0.6
diskcache==5.6.3
distro==1.4.0
entrypoints==0.3
filelock==3.16.1
fonttools==4.55.3
httplib2==0.14.0
idna==2.8
importlib-resources==6.4.5
Jinja2==2.10.1
keyring==18.0.1
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
MarkupSafe==2.1.5
matplotlib==3.7.1
mlnx-tools===-5.2.0-
mpmath==1.3.0
msgpack==1.1.0
netron==8.0.9
networkx==3.1
numpy==1.24.4
oauthlib==3.1.0
opencv-python==4.11.0.86
packaging==24.2
PAM==0.4.2
pandas==1.3.5
pillow==10.4.0
platformdirs==4.3.6
protobuf==5.29.1
psutil==6.1.1
py-cpuinfo==9.0.0
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.6.1
pycups==1.9.73
pygments==2.19.1
PyGObject==3.36.0
PyICU==2.4.2
PyJWT==1.7.1
pyparsing==3.1.4
python-apt==2.0.1+ubuntu0.20.4.1
python-can==3.3.4
python-dateutil==2.9.0.post0
pytools==2024.1.14
pytz==2024.2
PyYAML==5.3.1
requests==2.32.3
requests-unixsocket==0.2.0
rich==11.0.0
scipy==1.10.1
seaborn==0.11.2
SecretStorage==2.3.1
simplejson==3.16.0
six==1.14.0
smbus2==0.5.0
sympy==1.13.3
systemd-python==234
tqdm==4.64.0
typing-extensions==4.12.2
ufw==0.36
urllib3==1.26.16
wadllib==1.3.3
wrapt==1.17.2
zipp==3.20.2
